
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:wght@300&family=Kumbh+Sans:wght@400;700&family=Lobster&family=Montserrat:ital,wght@1,600&family=Oswald:wght@200;500&family=Roboto+Serif:opsz,wght@8..144,300&family=Titillium+Web:ital,wght@0,400;1,600&family=Ubuntu:wght@500&family=Zen+Kaku+Gothic+Antique&display=swap');

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);


$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-modal: hsl(0, 0%, -0%, 0.5);
$Font: 'Kumbh Sans', sans-serif;